body {
    margin: auto;
    overflow: auto;
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(315deg, rgba(102, 1, 97, 0.8) 20%, rgba(42, 54, 213, 0.8) 40%, rgba(20, 251, 224, 0.8) 68%, rgba(255, 2, 24, 0.8) 92%) fixed;
}

@keyframes gradient {
    0%  {background-color: rgb(202, 5, 193)}
    25% {background-color: rgb(10, 27, 243)}
    50%  {background-color: rgb(5, 250, 221)}
    100% {background-color: rgb(255, 2, 24)}
    100% {background-color: rgb(255, 2, 24)}
    50%  {background-color: rgb(5, 250, 221)}
    25% {background-color: rgb(10, 27, 243)}
    0%  {background-color: rgb(202, 5, 193)}
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.6;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/* ------------------------- The components style part ------------------------- */

#AboutBox {
    color: #303030;
    font-size: 20px;
    font-weight: bold;
}